{% extends 'back/base.html.twig' %} 

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% endblock %}

{% block title %}{% endblock %}

 


{% block body %}

{% if is_granted('ROLE_ADMIN') %}
 <section class="mt-[14rem] ml-[18rem] flex justify-center z-[100] fixed sm:w-full sm:ml-[0] sm:mt-[14rem]">           
            
        <div id="newCategory" class="container relative z-10 flex flex-col items-center hidden">

            <div class="w-[42.5rem] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">

                <div class="w-[42.5rem]   p-5 waterGradient rounded-t-[1.5rem] mb-[0.9rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white">Nouvelle Catégorie</h4>
                </div>


                {{ form_start(formCategorie) }}
                <div class="flex flex-row  justify-around items-center">
                    <div>
                        {{ form_row(formCategorie.nom, {
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {

                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Nom de la catégorie'
                            }
                        }) }}


                        
                    </div>

                    <div>
                        {{ form_row(formCategorie.description,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                  

                    
                    
                </div>


                <div class="flex flex-row justify-center">
                    {# <button type="submit" class="btn-primary">Enregistrer</button> #}
                
                    
                        {{ form_row(formCategorie.Enregistrer,{
                            'attr': {
                                'class': 'btn-primary mt-4 mb-8',
                            }
                               }) 
                        }}
                    
                    <span  class="btn-primary mt-4 mb-8" onclick="cacherFormulaire('newCategory')">Annuler</span> 
                   
                </div>

                {{ form_end(formCategorie) }}

            </div>

        </div>
</section> 
{% endif %}


<div class="flex mt-4 ml-4 justify-between ">
    <div class="flex justify-start sm:w-1/2 ">
        <svg class="mt-2" width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4125 10.5875C14.1938 11.3687 14.1938 12.6375 13.4125 13.4187L3.41255 23.4187C2.6313 24.2 1.36255 24.2 0.581299 23.4187C-0.199951 22.6375 -0.199951 21.3687 0.581299 20.5875L9.1688 12L0.587549 3.41249C-0.193701 2.63124 -0.193701 1.36249 0.587549 0.581238C1.3688 -0.200012 2.63755 -0.200012 3.4188 0.581238L13.4188 10.5812L13.4125 10.5875Z" fill="#D9DDDF"/>
        </svg>  

        <h2 class="text-gray-300 ">Catégories</h2>
    </div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="flex justify-end sm:w-1/2 ">
        <button class="btn-primary " onclick="afficherFormulaire('newCategory')"> Nouvelle Catégorie </button>
    </div>
{% endif %}   
</div>
    



<div class="drop-shadow-lg mx-5 mt-6 bg-white p-10 ">

        <div class="overflow-x-auto mt-3">
            <table class="min-w-full table-auto bg-white border border-gray-200">
                <thead>
                <tr>
                    <th class="px-4 py-2 border border-gray-200">Numéro</th>

                    <th class="px-4 py-2 border border-gray-200">Catégorie</th>
                    <th class="px-4 py-2 border border-gray-200">Description</th>
                    <th class="px-4 py-2 border border-gray-200">Nombre des produits</th>
                    <th class="px-4 py-2 border border-gray-200">Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td class="px-4 py-2 border border-gray-200">{{ category[0].id }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ category[0].nom }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{category[0].description}}</td>
                        <td class="px-4 py-2 border border-gray-200">{{category.productCount}}</td>
                        
                        <td class="px-8 py-2  border border-gray-200 flex justify-center items-center">
                            <span onclick="deleteCat({{ category[0].id }})" ><img src="https://i.goopics.net/szydej.png" alt="Icon Supprimer" class="w-6 cursor-pointer"></span>
                            <a href=""><img src="https://i.goopics.net/662e41.png" alt="Icon Modifier" class="w-6 ml-2 cursor-pointer"></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
</div>

        <!-- Pagination -->
        <div class="flex justify-center items-center mt-4">
            <nav class="block">
                {{ knp_pagination_render(categories) }}
            </nav>
        </div>
    </div>



<style>
    /* Ajoutez cette section pour définir l'animation fadeInDown */
    @keyframes fadeInDown {
        from {
            
            opacity: 0;
            -webkit-transform: translatey(-100px);
            -moz-transform: translatey(-100px);
            -o-transform: translatey(-100px);
            transform: translatey(-100px);
        }
        to {
            
            opacity: 1;
            -webkit-transform: translatey(0px);
            -moz-transform: translatey(0px);
            -o-transform: translatey(0px);
            transform: translatey(0px);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    .fadeOutUp {
        animation: fadeOutUp 1s;
    }
    
</style>

<script>

   

    // Fonction pour afficher le formulaire avec une animation de haut en bas
    function afficherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.remove('hidden');
        formulaire.style.animation = 'fadeInDown 0.5s';

        // Ajoutez une classe d'animation pour faire descendre le formulaire
        formulaire.classList.add('fadeInDown');

        // Supprimez la classe d'animation après l'achèvement pour la prochaine utilisation
        setTimeout(function() {
            formulaire.classList.remove('fadeInDown');
        }, 500);
    }

    function cacherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.add('fadeOutUp');

        setTimeout(function() {
            formulaire.classList.add('hidden');
            formulaire.classList.remove('fadeOutUp');
        }, 500);
    }

    // AJAX for deleting a category
    function test() {
        console.log('hello');
    }

    function deleteCat(id) {
        var categoryId = $(this).data('id');
        console.log(id);
        $.ajax({
            type: 'DELETE',
            url: 'gestion-prod-cat/delete-cat/'+id,
            success: function (response) {
                if (response.success) {
                    console.log(categoryId);
                    // Reload the page or update the category list
                    window.location.reload();
                    console.log('success');
                } else {
                    // Handle errors
                    console.error('Failed to delete category.');
                }
            }
        });
    };
    


</script>



{% endblock %}
