{% extends 'back/base.html.twig' %} 

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

{% endblock %}

{% block title %}{% endblock %}

 


{% block body %}
 
  <section class="mt-[14rem] ml-[18rem] flex justify-center z-[100] fixed sm:w-full sm:ml-[0] sm:mt-[14rem]">           
            
        <div id="newPruduct" class="container relative z-10 flex flex-col items-center ">

            <div class="w-[42.5rem] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">

                <div class="w-[42.5rem]   p-5 waterGradient rounded-t-[1.5rem] mb-[0.9rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white">Nouveau Produit</h4>
                </div>


                {{ form_start(formProduit) }}
                <div class="flex items-center">
                    <div>
                        {{ form_row(formProduit.nom, {
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {

                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Nom de la catégorie'
                            }
                        }) }}
                    </div>

                    <div>
                        {{ form_row(formProduit.marque, {
                            'label_attr':{'class' : 'text-base e ml-10'},
                            'attr': {

                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2  rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Nom de la catégorie'
                            }
                        }) }}
                    </div>

                </div>

                <div class="flex flex-row  justify-around items-center">
                    
                     <div>
                    {{ form_row(formProduit.description,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                    <div>
                    {{ form_row(formProduit.prix_unitaire,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                </div>


                <div class="flex flex-row  justify-around items-center">
                    
                     <div>
                    {{ form_row(formProduit.quantite_disponible,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                    <div>
                    {{ form_row(formProduit.id_categorie,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                </div>


                <div class="flex flex-row  justify-around items-center">
                    
                     <div>
                    {{ form_row(formProduit.tva,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>

                   

                </div>


                <div class="flex flex-row justify-center">
                    
                 <div>
                    {{ form_row(formProduit.Enregistrer,{
                            'label_attr':{'class' : ' btn-primary text-base  ml-10'},
                            'attr': {
                                'class': 'mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Description'
                            }
                        }) }}
                    </div>
                    
                        
                    
                    <button  class=" mt-4  " onclick="cacherFormulaire('newPruduct')">Annuler</button> 
                   
                </div>

                {{ form_end(formProduit) }}

            </div>

        </div>
</section> 



<div class="flex mt-4 ml-4 justify-between ">
    <div class="flex justify-start sm:w-1/2 ">
        <svg class="mt-2" width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4125 10.5875C14.1938 11.3687 14.1938 12.6375 13.4125 13.4187L3.41255 23.4187C2.6313 24.2 1.36255 24.2 0.581299 23.4187C-0.199951 22.6375 -0.199951 21.3687 0.581299 20.5875L9.1688 12L0.587549 3.41249C-0.193701 2.63124 -0.193701 1.36249 0.587549 0.581238C1.3688 -0.200012 2.63755 -0.200012 3.4188 0.581238L13.4188 10.5812L13.4125 10.5875Z" fill="#D9DDDF"/>
        </svg>  

        <h2 class="text-gray-300 ">Produits</h2>
    </div>

    <div class="flex justify-end sm:w-1/2 ">
        <button class="btn-primary " onclick="afficherFormulaire('newCategory')"> Nouveau Produit </button>
    </div>
</div>
     


   




<h2>Produits</h2>
 {% for produit in produits %}
    {{produit.nom}}
 {% endfor %}

<table id="myTable" class="display DataTable">
    <thead>
        <tr>
        <th>id</th>
            <th>nom</th>
            <th>description</th>
            <th>prix</th>
            <th>Qté</th>
            <th>tva</th>
            <th>quantité</th>

        </tr>
    </thead>
    <tbody>
    {% for produit in produits %}
        <tr>
            <td>{{produit.id}}</td>
            <td>{{produit.nom}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.tva}}</td>
            <td>{{produit.tva}}</td>

            <td><span>update</span></td>
            <td><span  onclick="deleteCat({{ produit.id }})" data-id="{{ produit.id }}">Delete</span></td>
        </tr>
    {% endfor %}
    
    </tbody>
</table>




<style>
    /* Ajoutez cette section pour définir l'animation fadeInDown */
    @keyframes fadeInDown {
        from {
            
            opacity: 0;
            -webkit-transform: translatey(-100px);
            -moz-transform: translatey(-100px);
            -o-transform: translatey(-100px);
            transform: translatey(-100px);
        }
        to {
            
            opacity: 1;
            -webkit-transform: translatey(0px);
            -moz-transform: translatey(0px);
            -o-transform: translatey(0px);
            transform: translatey(0px);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    .fadeOutUp {
        animation: fadeOutUp 1s;
    }
    
</style>

<script>
    // Fonction pour afficher le formulaire avec une animation de haut en bas
    function afficherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.remove('hidden');
        formulaire.style.animation = 'fadeInDown 0.5s';

        // Ajoutez une classe d'animation pour faire descendre le formulaire
        formulaire.classList.add('fadeInDown');

        // Supprimez la classe d'animation après l'achèvement pour la prochaine utilisation
        setTimeout(function() {
            formulaire.classList.remove('fadeInDown');
        }, 500);
    }

    function cacherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.add('fadeOutUp');

        setTimeout(function() {
            formulaire.classList.add('hidden');
            formulaire.classList.remove('fadeOutUp');
        }, 500);
    }

    // AJAX for deleting a category
    function deleteCat(id) {
        var categoryId = $(this).data('id');
        console.log(id);
        $.ajax({
            type: 'DELETE',
            url: 'gestion-prod-cat/delete-cat/'+id,
            success: function (response) {
                if (response.success) {
                    console.log(categoryId);
                    // Reload the page or update the category list
                    //window.location.reload();
                    console.log('success');
                } else {
                    // Handle errors
                    console.error('Failed to delete category.');
                }
            }
        });
    };
    


</script>



{% endblock %}
