{% extends 'back/base.html.twig' %}

{% block title %}Modifier un devis{% endblock %}

{% block body %}
    {% for type, messagesOfType in app.flashes %}
        {% for message in messagesOfType %}
            {% set alertClass = (type == 'error') ? 'bg-red-200' : 'bg-green-200' %}
            <div class="alert hidden w-50 {{ alertClass }} px-4 py-3 rounded absolute top-[7rem] left-[37rem]" role="alert">
                <div class="flex flex-row items-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="{{ (type == 'error') ? '#FF0000' : '#3EEF00' }}" aria-hidden="true" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="{{ (type == 'error') ? 'text-red-900' : 'text-green-900' }} text-xs ml-2">{{ message }}</span>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="mt-8 ml-5 mr-48">
        <nav class = "flex px-5 py-3  text-gray-700  rounded-lg bg-gray-50 dark:bg-[#1E293B]  " aria-label="Breadcrumb">
            <ol class = "inline-flex items-center space-x-1 md:space-x-3">
                <li class = "inline-flex items-center">
                    <a href="{{ path('app_back_index') }}" class = "inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class = "w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Accueil
                    </a>
                </li>
                <li>
                    <div class = "flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="{{path('app_back_quotes')}}" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">devis</a>
                    </div>
                </li>
                <li>
                    <div class = "flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="#" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{ controller_name }}</a>
                    </div>
                </li>
            </ol>
        </nav>
        {{ form_start(form) }}
        <div class="p-5 bg-white shadow-md rounded-md mt-5 ">
            <h4 class="font-medium text-3xl text-center text-blue-400">Modifier devis</h4>
            <hr class="my-2 mx-5">
            <div class=" flex flex-row justify-around ">

                <div class="flex flex-col ">
                    {{ form_label(form.dueDate,'Date échéance') }}
                    {{ form_widget(form.dueDate, {'attr': {
                        'class': 'w-[22rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.dueDate) }}
                    {% if form.dueDate.vars.errors|length > 0 %}
                        {% for error in form.dueDate.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex flex-col ">
                    {{ form_label(form.clientId,'Client') }}
                    {{ form_widget(form.clientId, {'attr': {
                        'class': 'flex flex-col w-[22rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.clientId) }}
                    {% if form.clientId.vars.errors|length > 0 %}
                        {% for error in form.clientId.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex flex-col ">

                    {{ form_label(form.status,'Statuts') }}
                    {{ form_widget(form.status, {'attr': {
                        'class': 'flex flex-col w-[22rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.status) }}
                    {% if form.status.vars.errors|length > 0 %}
                        {% for error in form.status.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>




        </div>
        <div class="p-5 bg-white shadow-md rounded-md mt-5 ">
            <button type="submit" name="addProduct" class=" px-4 py-2  ml-5 bg-blue-500  rounded-md">
                <span class="flex flex-row items-center text-white"> <img src="https://i.goopics.net/togvom.png" alt="Icon Ajouter un utilisateur " class="w-5 mr-2"> Ajouter un produit</span>
            </button>
            <hr class="my-2 mx-5">
            <div class=" flex flex-row justify-around ">
                <div class="flex flex-col">
                    {{ form_label(form.productId,'Product') }}
                    {{ form_widget(form.productId, {'attr': {
                        'class': 'w-[20rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.productId) }}
                    {% if form.productId.vars.errors|length > 0 %}
                        {% for error in form.productId.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}


                </div>
                <div class="flex flex-col">
                    {{ form_label(form.unitPrice,'Prix') }}
                    {{ form_widget(form.unitPrice, {'attr': {
                        'class': 'flex flex-col w-[10rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.unitPrice) }}
                    {% if form.unitPrice.vars.errors|length > 0 %}
                        {% for error in form.unitPrice.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex flex-col">
                    {{ form_label(form.VAT,'Tva') }}
                    {{ form_widget(form.VAT, {'attr': {
                        'class': 'flex flex-col w-[10rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.VAT) }}
                    {% if form.VAT.vars.errors|length > 0 %}
                        {% for error in form.VAT.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex flex-col">
                    {{ form_label(form.availableQuantity,'Qte') }}
                    {{ form_widget(form.availableQuantity, {'attr': {
                        'class': 'flex flex-col w-[5rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.availableQuantity) }}
                    {% if form.availableQuantity.vars.errors|length > 0 %}
                        {% for error in form.availableQuantity.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex flex-col">
                    <table class="mt-3 p-10">
                        <thead>
                        <tr>
                            <th class="px-2">Total HT</th>
                            <th class="px-2">Total TTC</th>
                        </tr>
                        </thead>
                        <tbody class="mt-5">
                        <tr>
                            <td id="totalHT" class="text-center">0</td>
                            <td id="totalTTC" class="text-center">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <div class="p-10 bg-white shadow-md rounded-md mt-5 ">
            <h4 class="font-medium text-xl text-start text-blue-400">Liste Produits</h4>
            <hr class="my-2">
            <table class="min-w-full table-auto bg-white border border-gray-200">
                <thead>
                <tr>
                    <th class="px-4 py-2 border border-gray-200">Produit</th>
                    <th class="px-4 py-2 border border-gray-200">Prix unitaire</th>
                    <th class="px-4 py-2 border border-gray-200">Qte</th>
                    <th class="px-4 py-2 border border-gray-200">Tva </th>
                    <th class="px-4 py-2 border border-gray-200">Total HT </th>
                    <th class="px-4 py-2 border border-gray-200">Total TTC</th>
                    <th class="px-4 py-2 border border-gray-200">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for product in productList %}
                    <tr>
                        <td class="px-4 py-2 border border-gray-200">{{ product.name }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ product.unitPrice }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ product.quantity }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ product.VAT }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ product.THT }}</td>
                        <td class="px-4 py-2 border border-gray-200">{{ product.TTC }}</td>
                        <td class="px-4 py-2 border border-gray-200 flex justify-around items-center">
                            <a href="{{ path('app_back_quotes_remove_product', {'type': 'edit','quotationNumber':product.quotationNumber,'id': product.id}) }}">
                                <img src="https://i.goopics.net/08xic0.png" alt="Icon Supprimer" class="w-6 cursor-pointer">
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="flex flex-col items-end my-5">
                <div class="flex flex-row "> <div class=" w-32 py-2 px-5 bg-blue-400 text-white rounded-l-lg">Total HT</div><div class=" w-32 py-2 px-5 border-2 border-blue-400 rounded-r-lg ">{{ totalTHT }} €</div></div>
                <div class="flex flex-row mt-2"><div class=" w-32 py-2 px-5 bg-blue-400 text-white rounded-l-lg">Total TTC</div><div class=" w-32 py-2 px-5 border-2 border-blue-400 rounded-r-lg">{{ totalTTC }} €</div></div>
            </div>
            <div></div>
            <button type="submit" name="createQuote" class=" px-4 py-2 bg-blue-500  rounded-md">

                <span class="flex flex-row items-center text-white"><img src="https://i.goopics.net/kroi32.png" alt="Icon save " class="w-5 mr-2">Enregistrer</span>
            </button>
        </div>

    </div>

    {{ form_end(form) }}

    </div>
    <script>
        $(document).ready(function() {
            $('#{{ form.productId.vars.id }}').change(function() {
                var productId = $(this).val();

                $.ajax({
                    url: '{{ path('app_back_quotes_product_info') }}',
                    method: 'GET',
                    data: { productId: productId },
                    success: function(data) {
                        $('#{{ form.unitPrice.vars.id }}').val(data.unitPrice);
                        $('#{{ form.VAT.vars.id }}').val(data.VAT);
                    },
                    error: function() {
                        console.log('Erreur lors de la récupération des informations du products.');
                    }
                });
            });

            $('#{{ form.availableQuantity.vars.id }}').change(function() {
                var quantity = parseInt($(this).val());
                var unitPrice = parseFloat($('#{{ form.unitPrice.vars.id }}').val());
                var VAT = parseFloat($('#{{ form.VAT.vars.id }}').val());

                unitPrice = isNaN(unitPrice) ? 0 : unitPrice;
                VAT = isNaN(VAT) ? 0 : VAT;

                var totalHT = quantity * unitPrice;
                var totalTTC = totalHT * (1 + (VAT / 100));

                $('#totalHT').text(totalHT.toFixed(2) + ' €');
                $('#totalTTC').text(totalTTC.toFixed(2) + ' €');
            });

            if ($('#{{ form.availableQuantity.vars.id }}').val() !== '') {
                $('#{{ form.availableQuantity.vars.id }}').trigger('change');
            }

        });
    </script>

{% endblock %}
