{% extends 'back/base.html.twig' %}
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

 

<section class="mt-[14rem] ml-[18rem] flex justify-center z-[100] fixed sm:w-full sm:ml-[0] sm:mt-[14rem]">           
            

        <div id="addPayment" class="container relative z-10 flex flex-col items-center hidden ">


            <div class="w-[42.5rem] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">

                <div class="w-[42.5rem]   p-5 waterGradient rounded-t-[1.5rem] mb-[0.9rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white">Enregistrer paiement</h4>
                </div>
                
                <div class="flex justify-center mb-8" id="textQuoteForm"> fg </div>

                {{ form_start(formInvoice) }}

                <div class="flex items-center">
                    <div>
                        {{ form_widget(formInvoice.quote, {
                            'label_attr':{'class' : 'text-base  ml-10 hidden'},
                            'attr': {
                                'class': 'w-[290px] hidden mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Devis',
                            }
                        }) }}

                        {{ form_help(formInvoice.quote) }}
                        
                    </div>

                    <div>
                        {{ form_row(formInvoice.client, {
                            'label_attr':{'class' : 'text-base  ml-10 hidden'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 hidden  rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Le Client'
                            }
                        }) }}
                        {{ form_help(formInvoice.client) }}
                        
                    </div>

                </div>

                <div class="flex flex-row  justify-around items-center">
                    
                    <div>
                    {{ form_row(formInvoice.totalTTC,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Le Montant'
                            }
                        }) }}
                        {{ form_help(formInvoice.totalTTC) }}
                        
                    </div>

                     <div>
                    {{ form_row(formInvoice.dueDate,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px]  border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'TVA'
                            }
                        }) }}
                         {{ form_help(formInvoice.dueDate) }}
                         
                    </div>

                     

                </div>


                <div class="flex flex-col justify-center ">
                    <div>
                        {{ form_row(formInvoice.paymentMethod,{
                            'label_attr':{'class' : 'text-base flex ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Catégorie'
                            }
                        }) }}
                        {{ form_help(formInvoice.paymentMethod) }}
                        
                    </div>
                   

                </div>
<hr class="mt-8 mb-4">
                <div class="flex flex-row justify-center">
                        {{ form_row(formInvoice.Enregistrer,{
                            'attr': {
                                'class': 'btn-primary mt-4 mb-8',
                            }
                               }) 
                        }}
                        <span  class="btn-primary mt-4 mb-8" onclick="cacherFormulaire('addPayment')">Annuler</span>
                </div>
                

                
                {{ form_end(formInvoice) }}

            </div>

        </div>
</section>



    {% for type, messagesOfType in app.flashes %}
        {% for message in messagesOfType %}
            {% set alertClass = (type == 'error') ? 'bg-red-200' : 'bg-green-200' %}
            <div class="alert hidden w-50 {{ alertClass }} px-4 py-3 rounded absolute top-[7rem] left-[37rem]"
                 role="alert">
                <div class="flex flex-row items-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="{{ (type == 'error') ? '#FF0000' : '#3EEF00' }}" aria-hidden="true" class="w-5 h-5">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="{{ (type == 'error') ? 'text-red-900' : 'text-green-900' }} text-xs ml-2">{{ message }}</span>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="mt-10 flex flex-row justify-between items-center">
        <nav class = "flex px-5 py-3 ml-5 text-gray-700  rounded-lg bg-gray-50 dark:bg-[#1E293B]  " aria-label="Breadcrumb">
            <ol class = "inline-flex items-center space-x-1 md:space-x-3">
                <li class = "inline-flex items-center">
                    <a href="{{ path('app_back_index') }}" class = "inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class = "w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Accueil
                    </a>
                </li>
                <li>
                    <div class = "flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="{{path('app_back_quotes')}}" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{ controller_name }}</a>
                    </div>
                </li>
            </ol>
        </nav>

    </div>

   

    


    <div class="drop-shadow-lg mx-5 mt-6 bg-white p-10 ">
        <div class="flex flex-row justify-between items-center">
        {% include"back/blocks/search_data.html.twig" with{
            form:form
        } %}
        <a href="{{ path('app_back_quotes_add') }}" class="btn-primary "><img src="https://i.goopics.net/8ohf9z.png" alt="Icon Ajouter un utilisateur "
        class="w-5">Ajouter un devis</a>
        </div>
        <div class="overflow-x-auto mt-8">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        N°devis
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Date création
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Client
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Total HT
                    </th>

                    <th scope="col" class="px-6 py-3 text-center">
                        Total TTC

                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Status
                    </th>

                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for quote in quoteList %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">

                        <td class="px-6 py-4 text-center">{{ quote.quotationNumber }}</td>
                        <td class="px-6 py-4 text-center">{{ quote.createdAt|date('Y-m-d') }}</td>
                        <td class="px-6 py-4 text-center">{{ quote.lastName }} {{ quote.firstName }}</td>
                        <td class="px-6 py-4 text-center">{{ quote.totalHT }}€</td>
                        <td class="px-6 py-4 text-center">{{ quote.totalTTC }}€</td>
                        <td class="px-6 py-4 text-center ">
                            {% if quote.status == 'Accepté' %}
                            <span class="relative grid items-center font-sans font-bold uppercase py-1 text-xs rounded-md bg-green-500/20 text-green-600">
                            {% endif %}
                                {% if quote.status == 'Refusé' %}
                           <span class="relative grid items-center font-sans font-bold uppercase py-1 text-xs rounded-md bg-red-500/20 text-red-600">
                            {% endif %}
                           {% if quote.status == 'Envoyé' %}
                           <span class="relative grid items-center font-sans font-bold uppercase py-1 text-xs rounded-md bg-blue-500/20 text-blue-600">
                           {% endif %}
                            {% if quote.status == 'Brouillon' %}
                             <span class="relative grid items-center font-sans font-bold uppercase py-1 text-xs rounded-md bg-gray-500/20 text-gray-600">
                           {% endif %}
                         {{ quote.status }}
                         </span>



                        </td>
                        <td class="pl-6 py-4 text-center flex justify-start gap-2 items-center">

                            <a href="{{ path('app_back_quotes_generate_pdf',{'quotationNumber':quote.quotationNumber}) }}">
                                <img src="https://i.goopics.net/3mbxm6.png" alt="Icon  télécharger"
                                     class="w-6 cursor-pointer" title="Télécharger">
                            </a>
                            <a href="{{ path('app_back_quotes_delete',{'quotationNumber':quote.quotationNumber}) }}"><img
                                        src="https://i.goopics.net/08xic0.png" alt="Icon Supprimer"
                                        class="w-6 cursor-pointer" title="Supprimer"></a>

                            <a href="{{ path('app_back_quotes_edit',{'quotationNumber':quote.quotationNumber}) }}">
                                <img src="https://i.goopics.net/s6fgvf.png" alt="Icon Modifier"
                                     class="w-6 ml-2 cursor-pointer" title="Modifier">
                            </a>
                            {% if quote.status == 'Brouillon' or quote.status == 'Envoyé' %}
                                <a href="{{ path('app_back_sendEmail_quote',{'quotationNumber':quote.quotationNumber}) }}">
                                    <img src="https://i.goopics.net/4h9wpm.png" alt="Icon envoyer"
                                         class="w-6 ml-2 cursor-pointer" title="Envoyer par Email">
                                </a>
                            {% endif %}
                             <span onclick="showFormPayment('addPayment','{{ quote.quotationNumber }}','{{ quote.lastName }} {{ quote.firstName }}','{{ quote.totalTTC }}','{{ quote.clientId }}','{{ quote.id }}')" aria-label="4.0 stars out of 5, 123 ratings">
                                    <i class="fa-solid fa-file-invoice-dollar" style="font-size: 22px; color: #0182d4;cursor: pointer" title="Paiement"></i>
                                </span>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>

        <!-- Pagination-->
        <div class="flex justify-center items-center mt-4">
            <nav class="block">
                {{ knp_pagination_render(quoteList) }}
            </nav>
        </div>

    </div>




<style>
    /* style for forms animation */
    @keyframes fadeInDown {
        from {
            
            opacity: 0;
            -webkit-transform: translatey(-100px);
            -moz-transform: translatey(-100px);
            -o-transform: translatey(-100px);
            transform: translatey(-100px);
        }
        to {
            
            opacity: 1;
            -webkit-transform: translatey(0px);
            -moz-transform: translatey(0px);
            -o-transform: translatey(0px);
            transform: translatey(0px);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    .fadeOutUp {
        animation: fadeOutUp 1s;
    }
    
</style>

<script>
    // Fonction pour afficher le formulaire avec une animation de haut en bas
    function afficherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.remove('hidden');
        formulaire.style.animation = 'fadeInDown 0.5s';

        // Ajoutez une classe d'animation pour faire descendre le formulaire
        formulaire.classList.add('fadeInDown');

        // Supprimez la classe d'animation après l'achèvement pour la prochaine utilisation
        setTimeout(function() {
            formulaire.classList.remove('fadeInDown');
        }, 500);
    }

    function cacherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.add('fadeOutUp');
        setTimeout(function() {
            formulaire.classList.add('hidden');
            formulaire.classList.remove('fadeOutUp');
        }, 500);
        $('.error').empty();
        $('form[name="product"] :input').val('');
    }

        // AJAX for update a product
    function showFormPayment(form,quote,client,price,idClient,idDevis) {
        console.log(quote);
        $("#textQuoteForm").text('Paiement pour le client '+client);
        $("#payment_quote").val(quote);
        $("#payment_totalTTC").val(price);
        $("#payment_client").val(client);
        $("#payment_IdClient").val(idClient);
         $("#payment_IdDevis").val(idDevis);
        afficherFormulaire(form);
    };

        //disable popup to confirm sending form again
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }


</script>

{% endblock %}
