{% extends 'base.html.twig' %}

{% block title %}Se connecter à Fast Invoice: Gestion des solutions pour équipements médicaux{% endblock %}
{% block og_title %}Se connecter à Fast Invoice: Gestion des solutions pour équipements médicaux{% endblock %}
{% block description %}Connectez-vous à Fast Invoice pour gérer facilement vos solutions pour équipements médicaux à travers des outils fiables et adaptés à vos besoins.{% endblock %}
{% block og_description %}Connectez-vous à Fast Invoice pour gérer facilement vos solutions pour équipements médicaux à travers des outils fiables et adaptés à vos besoins.{% endblock %}
{% block keywords %}Fast Invoice, connexion, équipements médicaux{% endblock %}


{% block body %}

    <section class="relative mt-[27rem]">

        <a href="{{ path("app_index") }}" aria-label="Logo Fast Invoice" tabindex="1" class=" absolute top-0 left-1/2 transform -translate-x-1/2 mt-[-18rem]">
            <img src="https://i.goopics.net/g0scmw.png" alt="Logo Fast Invoice" class="w-[180px]">
        </a>

        <div class="container relative z-10 flex flex-col items-center">

            <div class="h-[26.5rem] w-[42.5] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">

                <form method="post" class="flex flex-col ">
                    {% for message in app.flashes('success') %}
                        <div class="text-xl text-green-400 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="text-xl text-red-400 text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="w-[42.5rem] p-3 waterGradient rounded-t-[1.5rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white">Connexion</h4>
                   </div>
                    <label for="inputEmail" class="text-base mt-3 ml-10">Adresse e-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="w-[36.8rem] mt-1 ml-10 p-2 rounded-[15rem] border border-solid border-[#A0A0A0] outline-none" autocomplete="email" placeholder="exemple@test.fr" required autofocus >
                    <label for="inputPassword" class="text-base mt-3  ml-10">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="w-[590px] mt-1 ml-10 rounded-[1.5rem] p-2 border border-solid border-[#A0A0A0] outline-none" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                    {% if error %}
                        <div class="text-xs text-red-500 ml-20">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class=" mt-6 flex flex-row justify-around items-center">
                    <a href="{{ path('app_forgot_password_request') }}" class="text-[#007AC2] text-base">Mot de passe oublié</a>
                    <button class="btn-primary hover:bg-blue-500" type="submit">
                        Se connecter
                    </button>
                    </div>
                    <p class="text-center mt-4 text-base"> Pas encore inscrit ? <a href="{{ path('app_register') }}" class="text-[#007AC2]">Créer votre compte</a> </p>
                </form>

            </div>

        </div>

        <div class="container absolute top-0 left-0 z-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="1536" height="349" viewBox="0 0 1536 349" fill="none">
                <path d="M576.812 17.833C248.419 47.4356 115.962 -16.7206 0 10.7681V349H1536V54.4311C1536 54.4311 1362.06 22.6843 1178.12 10.7681C878.214 -8.65999 724.764 4.49602 576.812 17.833Z"
                      fill="url(#paint0_linear_30_888)"/>
                <defs>
                    <linearGradient id="paint0_linear_30_888" x1="768" y1="-125.944" x2="768" y2="349"
                                    gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F3F3F3"/>
                        <stop offset="1" stop-color="#EDEDED" stop-opacity="0.01"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>

    </section>

{% endblock %}
