{% extends 'back/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center my-4"></h1>

    <div class="mb-4 text-right">
        <a href="{{ path('app_back_new_facture') }}" class="btn btn-primary">
            Créer une nouvelle facture
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro de Facture</th>
                <th>Date</th>
                <th>Client</th>
                <th>Montant Total</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.numFacture }}</td>
                    <td>{{ facture.date|date('Y-m-d') }}</td>
                    <td>{{ facture.client.nom }}</td>
                    <td>{{ facture.montantTotal }}</td>
                    <td>{{ facture.statut }}</td>
                    <td>
                        <a href="{{ path('facture_detail', {'id': facture.id}) }}" class="btn btn-info btn-sm">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucune facture trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}