<footer id="footer">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <h2 class="mb-4"><img src="https://i.goopics.net/85tssw.png" class="w-50" alt="Logo Fast Invoice"></h2>
                <a href="{{ path("app_register") }}" class="footer-link" aria-label="Inscription">Inscription</a>
                <a href="{{ path("app_login") }}" class="footer-link" aria-label="Connexion">Connexion</a>
                <a href="{{ path("app_faq") }}" class="footer-link" aria-label="FAQ">FAQ</a>
                <a href="{{ path("app_support") }}" class="footer-link" aria-label="Support">Support</a>
                <a href="{{ path("app_contact") }}" class="footer-link" aria-label="Contactez-nous">Contactez-nous</a>
            </div>
            <div class="col-md-4">
                <h2 class="mb-4">En savoir plus</h2>
                <a href="{{ path("app_entreprise") }}" class="footer-link" aria-label="L'entreprise">L'entreprise</a>
                <a href="{{ path("app_tarifs") }}" class="footer-link" aria-label="Tarifs">Tarifs</a>
                <a href="{{ path("app_politique_de_confidentialite") }}" class="footer-link" aria-label="Politique de confidentialité">Politique de confidentialité</a>
                <a href="{{ path("app_cgv") }}" class="footer-link" aria-label="CGV">CGV</a>
                <a href="{{ path("app_mentions_legales") }}" class="footer-link" aria-label="Mentions légales">Mentions légales</a>
            </div>
            <div class="col-md-4">
                <h2 class="mb-3">Contact</h2>
                <a href="tel:0156069041" class="footer-link" aria-label="+33 1 56 06 90 41">+33 1 56 06 90 41</a>
                <a href="mailto:contact@fastinvoice.com" class="footer-link" aria-label="contact@fastinvoice.com">contact@fastinvoice.com</a>
            </div>
        </div>
    </div>
    <hr class="gradient-hr">
    <div class="footer-info">
        <div class="block">
            <p>Fast Invoice depuis 2013</p>
        </div>
        <div class="block">
            <p>Version 2023</p>
        </div>
    </div>
</footer>