{% extends 'back/base.html.twig' %} 

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}

{% block title %}{% endblock %}




{% block body %}

    {% if errorsFormAdd|length > 0 %}
        <script>
            $(document).ready(function() {
                $('#newProduct').removeClass('hidden');
            });
        </script>
    {% endif %}

    {% if errorsFormUpdate|length > 0 %}
        <script>
            $(document).ready(function() {
                $('#editProduct').removeClass('hidden');
            });
        </script>
    {% endif %}


    {% for messages in app.flashes %}
        {% for message in messages %}
            <div class="alert  w-50 bg-green-200  px-4 py-3 rounded absolute top-[7rem] left-[37rem]" role="alert">
                <div class="flex flex-row items-center ">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3EEF00" aria-hidden="true"
                         class="w-5 h-5">
                        <path fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="text-green-900 text-xs ml-2">{{ message }}</span>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

<section class="mt-[14rem] ml-[18rem] flex justify-center z-[100] fixed sm:w-full sm:ml-[0] sm:mt-[14rem]">           
            

        <div id="newProduct" class="container relative z-10 flex flex-col items-center hidden">


            <div class="w-[42.5rem] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">

                <div class="w-[42.5rem]   p-5 waterGradient rounded-t-[1.5rem] mb-[0.9rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white"> Nouveau Produit</h4>
                </div>


                {{ form_start(formProduct) }}

                <div class="flex items-center">
                    <div>
                        {{ form_widget(formProduct.name, {
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Nom Du Product',
                                'name' : 'addNomProduit',
                            }
                        }) }}


                        {% if formProduct.name.vars.errors|length > 0 %}
                            {% for error in formProduct.name.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {{ form_row(formProduct.brand, {
                            'label_attr':{'class' : 'text-base e ml-10'},
                            'attr': {

                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2  rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Marque'
                            }
                        }) }}

                        {% if formProduct.brand.vars.errors|length > 0 %}
                            {% for error in formProduct.brand.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="flex flex-row  justify-around items-center">
                    
                    <div>
                    {{ form_row(formProduct.unitPrice,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Le Prix'
                            }
                        }) }}

                        {% if formProduct.unitPrice.vars.errors|length > 0 %}
                            {% for error in formProduct.unitPrice.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                     <div>
                    {{ form_row(formProduct.VAT,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px]  border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'TVA'
                            }
                        }) }}

                         {% if formProduct.VAT.vars.errors|length > 0 %}
                             {% for error in formProduct.VAT.vars.errors %}
                                 <span class="text-xs text-red-500 error">{{ error.message }}</span>
                             {% endfor %}
                         {% endif %}
                    </div>

                    

                </div>


                <div class="flex flex-row  justify-around items-center">
                    
                     <div>
                    {{ form_row(formProduct.availableQuantity,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px]  border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Quantité'
                            }
                        }) }}

                         {% if formProduct.availableQuantity.vars.errors|length > 0 %}
                             {% for error in formProduct.availableQuantity.vars.errors %}
                                 <span class="text-xs text-red-500 error">{{ error.message }}</span>
                             {% endfor %}
                         {% endif %}
                    </div>

                    <div>
                    {{ form_row(formProduct.categoryId,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Catégorie'
                            }
                        }) }}

                        {% if formProduct.categoryId.vars.errors|length > 0 %}
                            {% for error in formProduct.categoryId.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>


                <div class="flex flex-row   items-center">
                    
                     
                    {{ form_row(formProduct.description,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'mt-3 w-full mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Description'
                            }
                        }) }}

                    {% if formProduct.description.vars.errors|length > 0 %}
                        {% for error in formProduct.description.vars.errors %}
                            <span class="text-xs text-red-500 error">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="flex flex-row justify-center">
                        {{ form_row(formProduct.Enregistrer,{
                            'attr': {
                                'class': 'btn-primary mt-4 mb-8',
                            }
                               }) 
                        }}
                    <span  class="btn-primary mt-4 mb-8" onclick="cacherFormulaire('newProduct')">Annuler</span>
                </div>
                {{ form_end(formProduct) }}

            </div>

        </div>
</section> 


 <section class="mt-[14rem] ml-[18rem] flex justify-center z-[100] fixed sm:w-full sm:ml-[0] sm:mt-[14rem]">           
            

        <div id="editProduct" class="container relative z-10 flex flex-col items-center hidden">
            <div class="w-[42.5rem] rounded-[1.5rem] shadow-lg mt-[-12.5rem] relative z-20 bg-white">
                <div class="w-[42.5rem]   p-5 waterGradient rounded-t-[1.5rem] mb-[0.9rem]">
                    <h4 class="mb-0 text-center font-medium text-2xl text-white">Modifier Produit</h4>
                </div>
                {{ form_start(formProductUpdate) }}
                <div class="flex items-center">
                    <div>
                        {{ form_row(formProductUpdate.name, {
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Nom Du Product',
                                'name' : 'addNomProduit',
                            }
                        }) }}

                        {% if formProductUpdate.name.vars.errors|length > 0 %}
                            {% for error in formProductUpdate.name.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div>
                        {{ form_row(formProductUpdate.brand, {
                            'label_attr':{'class' : 'text-base e ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2  rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Marque'
                            }
                        }) }}

                        {% if formProductUpdate.brand.vars.errors|length > 0 %}
                            {% for error in formProductUpdate.brand.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="flex flex-row  justify-around items-center">
                    
                    <div>
                    {{ form_row(formProductUpdate.unitPrice,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'Le Prix'
                            }
                        }) }}
                        {% if formProductUpdate.unitPrice.vars.errors|length > 0 %}
                            {% for error in formProductUpdate.unitPrice.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                     <div>
                    {{ form_row(formProductUpdate.VAT,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px]  border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'TVA'
                            }
                        }) }}

                         {% if formProductUpdate.VAT.vars.errors|length > 0 %}
                             {% for error in formProductUpdate.VAT.vars.errors %}
                                 <span class="text-xs text-red-500 error">{{ error.message }}</span>
                             {% endfor %}
                         {% endif %}
                    </div>

                    

                </div>


                <div class="flex flex-row  justify-around items-center">
                    
                     <div>
                    {{ form_row(formProductUpdate.availableQuantity,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px]  border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Quantité'
                            }
                        }) }}

                         {% if formProductUpdate.availableQuantity.vars.errors|length > 0 %}
                             {% for error in formProductUpdate.availableQuantity.vars.errors %}
                                 <span class="text-xs text-red-500 error">{{ error.message }}</span>
                             {% endfor %}
                         {% endif %}
                    </div>

                    <div>
                    {{ form_row(formProductUpdate.categoryId,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'w-[290px] mt-3 mb-[10px] ml-10 p-2 rounded-[25px] border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Catégorie'
                            }
                        }) }}
                        {% if formProductUpdate.categoryId.vars.errors|length > 0 %}
                            {% for error in formProductUpdate.categoryId.vars.errors %}
                                <span class="text-xs text-red-500 error">{{ error.message }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>


                <div class="flex flex-row   items-center">
                    
                     
                    {{ form_row(formProductUpdate.description,{
                            'label_attr':{'class' : 'text-base  ml-10'},
                            'attr': {
                                'class': 'mt-3 w-full mb-[10px] ml-10 p-2 rounded-[25px] flex relative border border-solid border-[#A0A0A0] outline-none',
                                'placeholder': 'La Description'
                            }
                        }) }}

                    {% if formProduct.description.vars.errors|length > 0 %}
                        {% for error in formProduct.description.vars.errors %}
                            <span class="text-xs text-red-500 error">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                </div>


                <div class="flex flex-row justify-center">
                    {# <button type="submit" class="btn-primary">Enregistrer</button> #}
                
                    

                        {{ form_row(formProductUpdate.Enregistrer,{
                            'attr': {
                                'class': 'btn-primary mt-4 mb-8',
                            }
                               }) 
                        }}
                    

                    <span  class="btn-primary mt-4 mb-8" onclick="cacherFormulaire('editProduct')">Annuler</span> 

                   
                </div>

                {{ form_end(formProductUpdate) }}

            </div>

        </div>
</section>
<div class="flex mt-4 ml-4 justify-between ">
    <div class="flex justify-start sm:w-1/2 ">
        <svg class="mt-2" width="14" height="24" viewBox="0 0 14 24" fill="black" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.4125 10.5875C14.1938 11.3687 14.1938 12.6375 13.4125 13.4187L3.41255 23.4187C2.6313 24.2 1.36255 24.2 0.581299 23.4187C-0.199951 22.6375 -0.199951 21.3687 0.581299 20.5875L9.1688 12L0.587549 3.41249C-0.193701 2.63124 -0.193701 1.36249 0.587549 0.581238C1.3688 -0.200012 2.63755 -0.200012 3.4188 0.581238L13.4188 10.5812L13.4125 10.5875Z" fill="black"/>
        </svg>  

        <h2 class="text-black-300 "> Produits</h2>
    </div>

</div>


    






<div class="drop-shadow-lg mx-5 mt-6 bg-white p-10 ">
   <div class=" flex flex-row justify-between items-center">
        {% include"back/blocks/search_data.html.twig" with{
            form:formSearchProducts
        } %}

        <button class="btn-primary " id="addNewProduct" onclick="afficherFormulaire('newProduct')"><i class="fa-solid fa-plus"></i> Nouveau Produit </button>

   </div>
        <div class="overflow-x-auto mt-8">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center">Produit</th>
                            <th scope="col" class="px-6 py-3 text-center">Marque</th>
                            <th scope="col" class="px-6 py-3 text-center">Description</th>
                            <th scope="col" class="px-6 py-3 text-center">Prix</th>
                            <th scope="col" class="px-6 py-3 text-center">Tva</th>
                            <th scope="col" class="px-6 py-3 text-center">Quantité</th>
                            <th scope="col" class="px-6 py-3 text-center">Catégorie</th>
                            <th scope="col" class="px-6 py-3 text-center">Date création</th>
                            <th scope="col" class="px-6 py-3 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">

                            <td class="px-6 py-4 text-center">{{ product.name }}</td>
                            <td class="px-6 py-4 text-center">{{ product.brand }}</td>
                            <td class="px-6 py-4 text-center">{{ product.description }}</td>
                            <td class="px-6 py-4 text-center">{{ product.unitPrice }}</td>
                            <td class="px-6 py-4 text-center">{{ product.VAT }}</td>
                            <td class="px-6 py-4 text-center">{{ product.availableQuantity }}</td>
                            <td class="px-6 py-4 text-center">{{ product.categoryName }}</td>
                            <td class="px-6 py-4 text-center">{{ product.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td class="px-6 py-4 flex justify-around items-center">

                             <span onclick="deleteProd({{ product.id }})" ><img src="https://i.goopics.net/08xic0.png" alt="Icon Supprimer" class="w-6 cursor-pointer"></span>
                             <span onclick="updateProd('editProduct','{{ product.id }}','{{ product.name}}','{{ product.brand}}','{{ product.unitPrice}}','{{ product.VAT}}','{{ product.availableQuantity}}','{{ product.description}}','{{ product.categoryId}}')" ><img src="https://i.goopics.net/s6fgvf.png" alt="Icon Modifier" class="w-6 ml-2 cursor-pointer"></span>
                               
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Pagination -->
        <div class="flex justify-center items-center mt-4">
            <nav class="block">
                {{ knp_pagination_render(products) }}
            </nav>
        </div>
</div>








<style>
    /* style for forms animation */
    @keyframes fadeInDown {
        from {
            
            opacity: 0;
            -webkit-transform: translatey(-100px);
            -moz-transform: translatey(-100px);
            -o-transform: translatey(-100px);
            transform: translatey(-100px);
        }
        to {
            
            opacity: 1;
            -webkit-transform: translatey(0px);
            -moz-transform: translatey(0px);
            -o-transform: translatey(0px);
            transform: translatey(0px);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            transform: translateY(-50px);
        }
    }

    .fadeOutUp {
        animation: fadeOutUp 1s;
    }
    
</style>

<script>
    // Fonction pour afficher le formulaire avec une animation de haut en bas
    function afficherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.remove('hidden');
        formulaire.style.animation = 'fadeInDown 0.5s';

        // Ajoutez une classe d'animation pour faire descendre le formulaire
        formulaire.classList.add('fadeInDown');

        // Supprimez la classe d'animation après l'achèvement pour la prochaine utilisation
        setTimeout(function() {
            formulaire.classList.remove('fadeInDown');
        }, 500);
    }

    function cacherFormulaire(formulaireId) {
        var formulaire = document.getElementById(formulaireId);
        formulaire.classList.add('fadeOutUp');
        setTimeout(function() {
            formulaire.classList.add('hidden');
            formulaire.classList.remove('fadeOutUp');
        }, 500);

        $('form[name="product"] :input').val('');
    }

    // AJAX for deleting a product
    function deleteProd(id) {
        var productId = $(this).data('id');
        if (confirm("Êtes-vous sûr de vouloir supprimer ce products ?")) {
        console.log(id);
        $.ajax({
            type: 'DELETE',
            url: 'products/delete/'+id,
            success: function (response) {
                if (response.success) {
                    window.location.reload();
                    console.log('success');
                } else {
                    // Handle errors
                    console.error('Failed to delete product.');
                }
            }
        });

        }

    };

     // AJAX for update a product
    function updateProd(form,id,name,brand,price,vat,quantity,description,idCategory) {
        console.log(idCategory);
        $("#edit_product_name").val(name);
        $("#edit_product_brand").val(brand);
        $("#edit_product_VAT").val(vat);
        $("#edit_product_availableQuantity").val(quantity);
        $("#edit_product_description").val(description);
        $("#edit_product_unitPrice").val(price);
        $("#edit_product_categoryId").val(idCategory);
        $("#edit_product_Id").val(id);
        afficherFormulaire(form);
    };

//disable popup to confirm sending form again
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>



{% endblock %}
