{% extends 'back/base.html.twig' %}

{% block title %}Envoyer un e-mail{% endblock %}

{% block body %}

    <div class="mt-10 flex flex-row justify-between items-center">
        <nav class = "flex px-5 py-3 ml-5 text-gray-700  rounded-lg bg-gray-50 dark:bg-[#1E293B]  " aria-label="Breadcrumb">
            <ol class = "inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{{ path('app_back_index') }}" class = "inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class = "w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Accueil
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="{{path('app_back_email_template')}}" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Template d'email</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="{{path('app_back_send_email')}}" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Nouveau message</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="flex flex-row justify-between items-center p-4">
        <a href="{{ path('app_back_email_template') }}" class="btn-primary">Revenir aux templates</a>
    </div>

    <div class="flex mb-4">
        <div class="w-full p-5">
            {{ form_start(form, {'attr': {'enctype':'multipart/form-data'}}) }}
                <div class="p-5 bg-white shadow-md rounded-md mt-5 ">
                    <h1 class="font-medium text-3xl text-center text-blue-400">Envoyer un e-mail</h1>
                    <hr class="my-2 mx-[1.2rem]">
                    <div class=" flex flex-row justify-around ">
                        <div class="flex flex-col w-full">
                            {{ form_row(form.emailTemplate, {'attr': {
                                'class': 'flex flex-col w-full mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                            }}) }}
                        </div>
                    </div>
                    <div class=" flex flex-row justify-around ">
                        <div class="flex flex-col w-full">
                            {{ form_row(form.recipient, {'attr': {
                                'class': 'flex flex-col w-full mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                            }}) }}
                        </div>
                    </div>
                    <div class="flex flex-row justify-around">
                        <div class="flex flex-col w-full">
                            {{ form_row(form.attachments, {'attr': {
                                'class': 'flex flex-col w-full mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                            }}) }}
                        </div>
                    </div>
                    <div class=" flex flex-row justify-around ">
                        <div class="flex flex-col w-full">
                            {{ form_row(form.message, {'attr': {
                                'class': 'flex flex-col w-full mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                            }}) }}
                        </div>
                    </div>
                    <div class=" flex flex-row justify-around ">
                        <div class="flex flex-row w-full justify-between items-center">
                            {{ form_row(form.send, {'attr': {
                                'class': 'btn-primary'
                            }}) }}
                        </div>
                    </div>
                </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const choiceExisting = document.getElementById('email_sending_recipient_select_0');
            const choiceManual = document.getElementById('email_sending_recipient_select_1');

            const clientContainer = document.querySelector('.client-field-container');
            const emailContainer = document.querySelector('.email-field-container');

            function toggleFields() {
                if (choiceExisting.checked) {
                    clientContainer.style.display = '';
                    emailContainer.style.display = 'none';
                } else if (choiceManual.checked) {
                    clientContainer.style.display = 'none';
                    emailContainer.style.display = '';
                }
            }

            choiceExisting.addEventListener('change', toggleFields);
            choiceManual.addEventListener('change', toggleFields);

            toggleFields();
        });
    </script>
{% endblock %}