<nav class="fixed flex flex-row text-center justify-between items-center p-3 z-10 bg-white shadow w-full">
	<div class="flex items-center gap-7 px-2 bg-white">
		<div id="navbarAdminToggle" class="cursor-pointer">
			<svg id="burger-menu" width="35" height="35" viewbox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
				<ellipse id="ellipse1" cx="2.79661" cy="15" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse2" cx="15" cy="15" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse3" cx="27.2034" cy="15" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse4" cx="2.79661" cy="27.4616" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse5" cx="15" cy="27.4616" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse6" cx="27.2034" cy="27.4616" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse7" cx="2.79661" cy="2.53846" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse8" cx="15" cy="2.53846" rx="2.79661" ry="2.53846" fill="#017AC2"/>
				<ellipse id="ellipse9" cx="27.2034" cy="2.53846" rx="2.79661" ry="2.53846" fill="#017AC2"/>
			</svg>
		</div>
		<a href="{{ path("app_index") }}">
			<img src="https://i.goopics.net/g0scmw.png" alt="Logo Fast Invoice">
		</a>
	</div>
	<div class="flex items-center justify-center gap-4">
		<div class="profile flex flex-row">
			<div class="profile-info flex flex-col items-end mr-2 mt-4">
				<p class="text-gray-400 text-xs">
					{% if app.user %}
						{% if app.user.companyId %}
							{{ app.user.companyId.name|upper  }}
						{% endif %}
					{% endif %}

				<div class="flex items-center justify-center gap-4 ">
					<div class="relative">

						<a  id="dropdownButton" onclick="toggleDropdown()" class="bg-transparent border-0 border-gray-400 text-gray-800 font-semibold pb-2 rounded inline-flex items-center">
							{% if app.user %}
								{% if app.user.lastName is not empty and app.user.firstName is not empty %}
									{{ app.user.lastName }} {{ app.user.firstName }}
								{% else %}
									Merci d'ajouter votre nom et prénom
								{% endif %}
							{% endif %}
							<img src="https://i.goopics.net/83o0tn.png" alt="Icon dropdown" class="w-3.5 mt-0.5 pt-0.5">

						</a>
						<div id="myDropdown" class="hidden absolute right-0 mt-3 py-2 w-44 bg-white rounded-md shadow-xl z-10">
							<a href="{{ path('app_logout') }}" class="flex items-center px-2 py-2 text-gray-800 hover:bg-gray-200">
								<img src="https://i.goopics.net/gkjig4.png" class="w-5 flex mr-2" alt="Profil">
								Déconnexion
							</a>
							<a href="#" class="flex items-center px-2 py-2 text-gray-800 hover:bg-gray-200">
								<img src="https://i.goopics.net/wm2q14.png" class="w-5 flex mr-2" alt="Profil">
								Profil
							</a>
						</div>
					</div>

			</div>
		</div>
		<div class="profile-avatar">
			<img src="https://www.esgi.fr/ecole-informatique/Adrien-Morin_png.png" alt="Avatar Adrien Morin" class="w-16 h-16 object-cover rounded-full bg-theme-600">
		</div>

</nav>
