{% extends 'back/base.html.twig' %}

{% block title %}Ajouter un client{% endblock %}

{% block body %}

    <div class="mt-16 ml-5 mr-48">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24" fill="none">
                <path d="M13.4125 10.5875C14.1938 11.3687 14.1938 12.6375 13.4125 13.4187L3.41255 23.4187C2.6313 24.2 1.36255 24.2 0.581299 23.4187C-0.199951 22.6375 -0.199951 21.3687 0.581299 20.5875L9.1688 12L0.587549 3.41249C-0.193701 2.63124 -0.193701 1.36249 0.587549 0.581238C1.3688 -0.200012 2.63755 -0.200012 3.4188 0.581238L13.4188 10.5812L13.4125 10.5875Z"
                      fill="#D9DDDF"/>
            </svg>
            <h2 class="text-[#D9DDDF] text-3xl font-extrabold flex items-center">
                {{ controller_name }}
            </h2>
            <a href="{{ path('app_back_clients') }}"> <img src="https://i.goopics.net/6k2k8k.png" alt="Icon back" class="w-6 cursor-pointer ml-5"></a>

        </div>
        {{ form_start(form) }}
        <div class="p-5 bg-white shadow-md rounded-md mt-5 ">
            <div class="flex flex-row justify-around ">
                <div class=" flex flex-col justify-center">
                    {{ form_label(form.nom,'Nom') }}
                    {{ form_widget(form.nom, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.nom) }}
                    {% if form.nom.vars.errors|length > 0 %}
                        {% for error in form.nom.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}

                    {{ form_label(form.email,'Email') }}
                    {{ form_widget(form.email, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.email) }}
                    {% if form.email.vars.errors|length > 0 %}
                        {% for error in form.email.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}

                    {{ form_label(form.prenom,'Prénom') }}
                    {{ form_widget(form.prenom, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.prenom) }}
                    {% if form.prenom.vars.errors|length > 0 %}
                        {% for error in form.prenom.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                    {{ form_label(form.telephone,'Telephone') }}
                    {{ form_widget(form.telephone, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.telephone) }}
                    {% if form.telephone.vars.errors|length > 0 %}
                        {% for error in form.telephone.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}

                    {{ form_label(form.ville,'Ville') }}
                    {{ form_widget(form.ville, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.ville) }}
                    {% if form.ville.vars.errors|length > 0 %}
                        {% for error in form.ville.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}

                </div>

                <div class="flex flex-col ">
                    {{ form_label(form.adresse,'Adresse') }}
                    {{ form_widget(form.adresse, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.adresse) }}
                    {% if form.adresse.vars.errors|length > 0 %}
                        {% for error in form.adresse.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}

                    {{ form_label(form.code_postal,'Code postal') }}
                    {{ form_widget(form.code_postal, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.code_postal) }}
                    {% if form.code_postal.vars.errors|length > 0 %}
                        {% for error in form.code_postal.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}


                    {{ form_label(form.create_at,'Date de création') }}
                    {{ form_widget(form.create_at, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.create_at) }}
                    {% if form.create_at.vars.errors|length > 0 %}
                        {% for error in form.create_at.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}
                    {{ form_label(form.id_entreprise,'Nom entrepise') }}
                    {{ form_widget(form.id_entreprise, {'attr': {
                        'class': 'flex flex-col w-[32rem] mt-3 p-2 mb-3 mr-2 rounded border-2 border-solid border-[#A0A0A0] outline-none'
                    }}) }}
                    {{ form_help(form.id_entreprise) }}
                    {% if form.create_at.vars.errors|length > 0 %}
                        {% for error in form.id_entreprise.vars.errors %}
                            <span class="text-xs text-red-500">{{ error.message }}</span>
                        {% endfor %}
                    {% endif %}



                </div>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">
                    Ajouter
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
