<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff" />

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="application-name" content="Fast Invoice" />
        <meta name="apple-mobile-web-app-title" content="Fast Invoice" />
        <meta name="author" content="Fast Invoice : Ilyes KABRINE, Léo GUIRADO, Ali KHELIFA & Ilyesse HAMCHERIF" />

        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />

        <link rel="icon" type="image/x-icon" href="https://image.noelshack.com/fichiers/2023/46/7/1700429800-favicon.png" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}


            <style>
                .nav-closed .link-text {
                    display: none;
                }

                .nav-open .link-text {
                    display: inline;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script src="{{ asset('js/accuiel_admin.js') }}"></script>

            <script>
            
                document.addEventListener('DOMContentLoaded', () => {
                    const toggleBtn = document.getElementById('navbarAdminToggle');
                    let isNavbarOpen = false;

                    toggleBtn.addEventListener('click', () => {
                        const navbar = document.getElementById('navbarAdmin');
                        const navLinks = document.getElementsByClassName('nav-link');
                        const mainContent = document.getElementById('mainContent');
                        const ellipseOne = document.getElementById('ellipse1');
                        const ellipseThree = document.getElementById('ellipse3');
                        const ellipseFive = document.getElementById('ellipse5');
                        const ellipseEight = document.getElementById('ellipse8');
                        const burgerMenu = document.getElementById('burger-menu');

                        if (isNavbarOpen) {
                            navbar.style.width = '4rem';
                            mainContent.style.marginLeft = '4rem';
                            mainContent.style.transition = "all .2s";
                            burgerMenu.style.rotate = '0deg';
                            burgerMenu.style.transition = "all .2s";
                            ellipseOne.style.opacity = "1";
                            ellipseOne.style.transition = "all .2s";
                            ellipseThree.style.opacity = "1";
                            ellipseThree.style.transition = "all .2s";
                            ellipseFive.style.opacity = "1";
                            ellipseFive.style.transition = "all .2s";
                            ellipseEight.style.opacity = "1";
                            ellipseEight.style.transition = "all .2s";
                            for(let i = 0; i < navLinks.length; i++) {
                                const link = navLinks[i];
                                link.style.justifyContent = 'center';
                                link.style.transition = "all .2s";
                            }
                            navbar.classList.remove('nav-open');
                            navbar.classList.add('nav-closed');
                            navbar.style.transition = "all .2s";
                        } else {
                            navbar.style.width = '18rem';
                            mainContent.style.marginLeft = '18rem';
                            mainContent.style.transition = "all .2s";
                            burgerMenu.style.rotate = '90deg';
                            burgerMenu.style.transition = "all .2s";
                            ellipseOne.style.opacity = "0";
                            ellipseOne.style.transition = "all .2s";
                            ellipseThree.style.opacity = "0";
                            ellipseThree.style.transition = "all .2s";
                            ellipseFive.style.opacity = "0";
                            ellipseFive.style.transition = "all .2s";
                            ellipseEight.style.opacity = "0";
                            ellipseEight.style.transition = "all .2s";
                            for(let i = 0; i < navLinks.length; i++) {
                                const link = navLinks[i];
                                link.style.justifyContent = 'flex-start';
                                link.style.transition = "all .2s";
                            }
                            navbar.classList.remove('nav-closed');
                            navbar.classList.add('nav-open');
                            navbar.style.transition = "all .2s";
                        }

                        isNavbarOpen = !isNavbarOpen;
                    });
                });

                var activeNavItems = document.querySelectorAll('.nav-link');

                function handleClick() {
                    activeNavItems.forEach(function(item) {
                        item.classList.remove('active');
                    });
                    this.classList.add('active');
                }

                activeNavItems.forEach(function(item) {
                    item.addEventListener('click', handleClick);
                });
                function toggleDropdown() {
                    const dropdown = document.getElementById('myDropdown');
                    dropdown.classList.toggle('hidden');
                }

                window.addEventListener('click', function(event) {
                    const dropdown = document.getElementById('myDropdown');
                    const button = document.getElementById('dropdownButton');

                    if (event.target === button || event.target.closest('#myDropdown')) {
                        return;
                    }

                    dropdown.classList.add('hidden');
                });

                document.addEventListener('DOMContentLoaded', function() {
                    const alerts = document.querySelectorAll('.alert');
                    alerts.forEach((alert) => {
                        alert.classList.remove('hidden');
                        setTimeout(() => {
                            alert.classList.add('hidden');
                        }, 2000);
                    });
                });
                $(document).ready(function() {
                    $('.select2').select2({ width: '32rem' });
                    $('.select2-container--default .select2-selection--multiple')
                        .css('padding-bottom', '0.75rem');
                });

            </script>
        {% endblock %}
    </head>
    <body>

        {% include "back/blocks/navbar.html.twig" %}

        <div class="flex min-h-screen">

            {% include "back/blocks/sidebar.html.twig" %}

            <div id="mainContent" class="flex-1 ml-16 mt-[89px]">
                {% block body %}{% endblock %}
            </div>
        </div>

        <br>
        {% for type, flashMessages in app.flashes %}
            {% for message in flashMessages %}
                {{ type }} - {{ message }} <br>
            {% endfor %}
        {% endfor %}

        {# {% include "blocks/footer.html.twig" %} #}



    </body>
</html>
