{% extends 'back/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="mt-10 flex flex-row justify-between items-center">
        <nav class = "flex px-5 py-3 ml-5 text-gray-700  rounded-lg bg-gray-50 dark:bg-[#1E293B]  " aria-label="Breadcrumb">
            <ol class = "inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="{{ path('app_back_index') }}" class = "inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                        <svg class = "w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        Accueil
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class = "w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fillRule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clipRule="evenodd"></path></svg>
                        <a href="{{path('app_back_email_tracking')}}" class = "ml-1 text-sm font-medium text-gray-700 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white">Suivi d'email</a>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="flex flex-row items-center pt-4">
        <div class="flex flex-row justify-between items-center p-4">
            <a href="{{ path('app_back_email_template') }}" class="btn-primary"><img src="https://i.goopics.net/9n9koj.png" alt="Icône Voir les templates d'email" class="w-5"> Voir les templates d'email</a>
        </div>
        <div class="flex flex-row justify-between items-center px-4">
            <a href="{{ path('app_back_send_email') }}" class="btn-primary"><img src="https://i.goopics.net/sbvxsu.png" alt="Icône Nouveau mail" class="w-5"> Nouveau mail</a>
        </div>
    </div>
    <div class="drop-shadow-lg mx-5 bg-white">
        <div class="overflow-x-auto mt-8">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-center">Sujet</th>
                        <th scope="col" class="px-6 py-3 text-center">From</th>
                        <th scope="col" class="px-6 py-3 text-center">To</th>
                        <th scope="col" class="px-6 py-3 text-center">Statut</th>
                        <th scope="col" class="px-6 py-3 text-center">Envoyé à</th>
                        <th scope="col" class="px-6 py-3 text-center">Ouvert à</th>
                        <th scope="col" class="px-6 py-3 text-center">Contenu</th>
                    </tr>
                </thead>
                {% for log in logs %}
                    <div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal-{{ loop.index }}">
                        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                    <div class="sm:flex sm:items-start">
                                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                                Contenu de l'e-mail
                                            </h3><br>
                                            <div class="mt-2">
                                                <h3 class="text-sm leading-4 font-bold text-gray-900">
                                                    {{ log.subject }}
                                                </h3><br>
                                                <p id="email-content-{{ loop.index }}" class="text-sm text-gray-500 overflow-auto max-h-96">
                                                    {{ log.content|raw }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                    <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-black hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="toggleModal('modal-{{ loop.index }}')">
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        <td class="px-6 py-4 text-center">{{ log.subject }}</td>
                        <td class="px-6 py-4 text-center">{{ log.sender }}</td>
                        <td class="px-6 py-4 text-center">{{ log.receiver }}</td>
                        <td class="px-6 py-4 text-center flex flex-rox gap-2">
                            {% if log.status == 'Envoyé' %}
                                <img src="https://i.goopics.net/4h9wpm.png" alt="Icon Envoyé" class="w-6 ml-2" title="Envoyé">
                            {% endif %}
                            {{ log.status }}
                        </td>
                        <td class="px-6 py-4 text-center">{{ log.sentAt|date('Y-m-d H:i:s') }}</td>
                        <td class="px-6 py-4 text-center">{{ log.openedAt|date('Y-m-d H:i:s') }}</td>
                        <td class="px-6 py-4 text-center">
                            <button onclick="toggleModal('modal-{{ loop.index }}')"><img src="https://i.goopics.net/hsjn7c.png" alt="Icon Oeil" class="w-6 ml-2" title="Voir le contenu"></button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function toggleModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.classList.toggle('hidden');
            } else {
                console.error('No modal found with ID:', modalId);
            }
        }
    </script>
{% endblock %}